body {
    background-color: #1d2021;
    margin: 0px;
}

.main h2, .main p, .main a, .date {
    text-align: left;
    overflow: wrap;
    flex-flow: row wrap;
    inline-size: 40%;
    left: 30%;
    position: relative;
    display: block;
    padding: 6px;
}

p {
    color: #dbd1c7;
}

a {
    color: #fb4934;
    font-weight: bold;
    font-size: medium;
}

h2 {
    color: #83a598;
}

.date {
    color: #d65d0e;
}

.topnav a {
    color: #b8bb26;
    padding: 14px;
    text-align: left;
    position: relative;
    display: inline-block;
}

.topnav {
    background-color: #3c3836;
    overflow: hidden;
}

.linkdate {
    color: #8ec07c;
    font-weight: bold;
    margin: 0px;
}

.blogitem {
    margin: 10px;
}
